@model ABEGestionProyectos.Core.Models.Chore

@{
    ViewBag.TitlePage = "Detalle";
}

<div class="container">
    <form asp-controller="chore" asp-action="@ViewBag.action" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model != null)
        {
            <input type="hidden" asp-for="ChoreID" />
        }

        <div class="row">
            <div class="col form-group">
                <label asp-for="Name" class="form-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col form-group">
                <label asp-for="Points" class="form-label">Puntos</label>
                <input asp-for="Points" type="number" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label asp-for="State" class="form-label">Estado</label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label asp-for="UserHistoryID" class="form-label">Epica</label>
                <select asp-for="UserHistoryID" class="form-control"
                        asp-items="@(new SelectList(ViewBag.UserHistories, "UserHistoryID", "Title"))">
                </select>
            </div>
            <div class="col form-group">
                <label asp-for="PersonID" class="form-label">Usuario</label>
                <select asp-for="PersonID" class="form-control"
                        asp-items="@(new SelectList(ViewBag.People, "PersonID", "Name"))">
                </select>
            </div>
        </div>


        <br />
        <div class="row">
            <div class="col">
                <a href="~/chore/index" class="btn btn-danger form-control">Cancelar</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Enviar</button>
            </div>
        </div>
    </form>
</div>

