
@{
    ViewBag.TitlePage = "Inicio";
}

<article>
    <br />
    <br />
    <header class="row">

        <h1 class="text-center">Bienvenido a ABE Projects</h1>
        <p class="text-center">ABE Projects es una aplicación web para gestionar proyectos</p>

        <div class="col-4 text-center">
            <br />
            <br />
            <br />
            <h2>Organización</h2>
            <p>Con abe projects es más sencillo poder organizar y llevar el control de todos tus proyectos.</p>
            <img src="~/assets/dist/img/organizar.png" width="200" height="200"/>

        </div>
        <div class="col-4 text-center">
            <br />
            <br />
            <br />
            <h2>Fácil y Rápido</h2>
            <p>Se crea proyectos, epicas, tareas, incidencias, listar las tareas de una manera rápida y sencilla.</p>
            <img src="~/assets/dist/img/facil.png" width="200" height="200" />

        </div>
        <div class="col-4 text-center">
            <br />
            <br />
            <br />
            <h2>Incidencias</h2>
            <p>Podrás agregar subtareas, para que sea más específica las tareas y así cumplir el propósito.</p>
            <img src="~/assets/dist/img/bandera.png" width="200" height="200" />

        </div>
    </header>
</article>
