@model ABEGestionProyectos.Core.Models.Project

@{
    ViewBag.TitlePage = "Detalle";
}

<div class="container">
    <form asp-controller="project" asp-action="@ViewBag.action" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model != null)
        {
            <input asp-for="ProjectID" type="hidden" />
        }

        <div class="row">
            <div class="col form-group ">
                <label asp-for="Name" class="form-label">Nombre:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col form-group">
                <label asp-for="StartDate" class="form-label">Fecha Inicio:</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label asp-for="Type" class="form-label">Tipo:</label>
                <input asp-for="Type" class="form-control">
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="col form-group">
                <label asp-for="Responsible" class="form-label">Responsable:</label>
                <input asp-for="Responsible" class="form-control" />
                <span asp-validation-for="Responsible" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label asp-for="Description" class="form-label">Descripción:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col form-group">
                <a href="~/project/index" class="btn btn-danger form-control">Cancelar</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Enviar</button>
            </div>
        </div>
    </form>

</div>